hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

spawn-at-startup "noctalia-shell"
spawn-at-startup "fcitx5"
spawn-at-startup "xwayland-satellite" ":12"
