hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

spawn-at-startup "noctalia-shell"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
spawn-at-startup "vicinae" "server" // app menu

